html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.body {
  font-family: "Montserrat", sans-serif;
  background-image: url("pc1.jpg");
}
section {
  padding: 100px 0;
  /*background: linear-gradient(to right, #203d53, #051b38);*/
}

header {
  border-bottom: 1px solid rgba(238, 238, 238, 0.801);
  position: fixed;
  width: 100%;
  z-index: 5;
  font-size: 25px;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}
.navbar-brand:hover {
  color: #000;
}
.navbar-nav {
  margin-left: auto;
}
.nav-link {
  font-size: 1.1rem;
  font-weight: bold;
  color: #000;
}
.nav-link:hover {
  color: #000;
}
/*anasayfa*/
#giris {
  width: 100%;
  height: 100%;
}
.isimsoyisim {
  max-width: 700px;
  width: 100%;
  border: 3px solid #24caac;
  text-align: center;
  color: azure;
  padding: 25px 0;
  margin: auto;
  margin-bottom: -80px;
}
.isimsoyisim p {
  font-size: 40px;
}

#anasayfa {
  display: flex;
  justify-content: space-between; /*Birbirine eşit aralıkta ortalar*/
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

#anasayfa .hakkımda {
  text-align: center;
  padding: 0 200px 0 50px;
  color: azure;
  border: 3px solid #24caac;
  padding: 50px 50px 50px 50px;
  margin: 0 50px 90px 50px;
  font-size: 25px;
}

#anasayfa .resim img {
  flex-wrap: wrap;
  object-fit: cover;
  margin-left: 20px;
  margin-bottom: 75px;
  border: 5px solid #24caac;
  width: 70%;
  height: 70%;
  text-align: center;
}

#iletisim {
  display: flex;
  justify-content: space-between; /*Birbirine eşit aralıkta ortalar*/
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 20px 50px 20px 50px;
  color: azure;
  margin-bottom: 80px;
}
.iletisimbilgileri {
  width: 30%;
  height: 30%;
  border: 3px solid #24caac;
  text-align: left;
  padding: 105px 40px 105px 60px;
  font-size: 20px;
}
.ibilgilerbaslik {
  font-size: 30px;
  margin-bottom: 50px;
}

.kisiselbilgiler {
  width: 30%;
  height: 30%;
  border: 3px solid #24caac;
  text-align: left;
  padding: 101px 40px 101px 60px;
  font-size: 20px;
}
.kisiselbilgilerbaslik {
  font-size: 30px;
  margin-bottom: 50px;
}

.yetenekler {
  width: 30%;
  height: 30%;
  border: 3px solid #24caac;
  text-align: left;
  font-size: 20px;
  padding: 40px 40px 40px 60px;
}
.yetenekbaslik {
  font-size: 30px;
  margin-bottom: 50px;
}

#sektor {
  color: azure;
  width: 100%;
  padding: 20px 50px 70px 50px;
}

.isdeneyimi {
  width: 100%;
  height: 100%;
  border: 3px solid #24caac;
  text-align: center;
  padding: 40px;
  font-size: 20px;
}
.isdeneyimibaslik {
  font-size: 30px;
  margin-bottom: 50px;
}
.egitim {
  width: 100%;
  height: 100%;
  border: 3px solid #24caac;
  text-align: center;
  padding: 40px;
  margin: 40px 0 40px 0;
  font-size: 20px;
}
.egitimbaslik {
  font-size: 30px;
  margin-bottom: 50px;
}
.sertifikalar {
  width: 100%;
  height: 100%;
  border: 3px solid #24caac;
  text-align: center;
  padding: 40px;
  font-size: 20px;
}
.sertifikabaslik {
  font-size: 30px;
  margin-bottom: 50px;
}

table tr td {
  padding: 1rem;
}
