#body {
  background-color: rgba(90, 205, 198, 0.4);
}

#selamlama {
  margin-top: 50px;
}
.hakkimda {
  text-align: center;
  background-color: #6286a0;
  border: 15px solid rgba(255, 255, 255, 0.5);
  border-radius: 115px;
  width: 200px;
  height: 200px;
  line-height: 150px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: #2d4251 5px 5px 5px;
  position: absolute;
  top: 45%;
  left: 22%;
  margin-top: -150px;
}
.hakkimda:hover {
  font-size: 25px;
}

.egitim {
  text-align: center;
  background-color: #6286a0;
  border: 15px solid rgba(255, 255, 255, 0.5);
  border-radius: 115px;
  width: 200px;
  height: 200px;
  line-height: 150px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: #2d4251 5px 5px 5px;
  position: absolute;
  top: 45%;
  left: 32%;
  margin-top: -150px;
}
.egitim:hover {
  font-size: 25px;
}
.sehirim {
  text-align: center;
  background-color: #6286a0;
  border: 15px solid rgba(255, 255, 255, 0.5);
  border-radius: 115px;
  width: 200px;
  height: 200px;
  line-height: 150px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: #2d4251 5px 5px 5px;
  position: absolute;
  top: 45%;
  left: 42%;
  margin-top: -150px;
}
.sehirim:hover {
  font-size: 25px;
}
.ilgiAlani {
  text-align: center;
  background-color: #6286a0;
  border: 15px solid rgba(255, 255, 255, 0.5);
  border-radius: 115px;
  width: 200px;
  height: 200px;
  line-height: 150px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: #2d4251 5px 5px 5px;
  position: absolute;
  top: 45%;
  left: 52%;
  margin-top: -150px;
}
.ilgiAlani:hover {
  font-size: 25px;
}
.mirasimiz {
  text-align: center;
  background-color: #6286a0;
  border: 15px solid rgba(255, 255, 255, 0.5);
  border-radius: 115px;
  width: 200px;
  height: 200px;
  line-height: 150px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: #2d4251 5px 5px 5px;
  position: absolute;
  top: 45%;
  left: 62%;
  margin-top: -150px;
}
.mirasimiz:hover {
  font-size: 25px;
}

.iletisim {
  text-align: center;
  background-color: #6286a0;
  border: 15px solid rgba(255, 255, 255, 0.5);
  width: 150px;
  height: 100px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: #2d4251 5px 5px 5px;
  position: absolute;
  top: 45%;
  left: 45%;
  margin-top: 80px;
  padding-top: 15px;
}
.iletisim:hover {
  font-size: 25px;
}
/*
.iletisim {
  width: 100px;
  height: 30px;
  padding: 20px;
  background-color: skyblue;
  position: absolute;
  top: 60%;
  left: 60%;
  margin-left: -200px;
  margin-top: -150px;
}
*/
