.box {
  max-width: 550px;
  width: 100%;
  max-height: 550px;
  height: 100%;
  border: 5px solid #01415c;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  text-align: left;
  font-size: 25px;
  margin: auto;
  top: 7%;
  left: 29%;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 15px;
  position: absolute;
  background: wheat;
}

.donus {
  margin-top: 45px;
  font-size: 30px;
  text-align: center;
  margin-right: 50px;
}

.donus a {
  text-decoration: none;
}
@media screen and (max-width: 900px) {
  .box {
    width: auto;
    height: auto;
    margin: auto;
    top: 5%;
    left: 1%;
    padding: 15px;
  }
}
