html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

header {
  border-bottom: 1px solid rgba(238, 238, 238, 0.801);
  position: fixed;
  width: 100%;
  z-index: 5;
  font-size: 25px;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}
.navbar-brand:hover {
  color: #000;
}
.navbar-nav {
  margin-left: auto;
}
.nav-link {
  font-size: 1.1rem;
  font-weight: bold;
  color: #000;
}
.nav-link:hover {
  color: #000;
}

.body {
  font-family: "Montserrat", sans-serif;
}
section {
  padding: 100px 0;
  background: linear-gradient(to right, #203d53, #051b38);
}
.selamlama {
  text-align: center;
  color: white;
}
.giris h2 a {
  color: white;
  text-decoration: none;
}
.giris h2 {
  margin-bottom: 40px;
  text-align: center;
}
.giris {
  margin-top: -200px;
  text-align: left;
  color: white;
  font-size: 25px;
  padding: 50px;
}

.resim {
  width: 50%;
  height: 50%;
  margin: auto;
  border: 4px solid rgba(69, 241, 184, 0.712);
}

#disKale {
  width: 100%;
  height: 100%;
  margin: auto;
  color: white;
  padding: 50px;
  font-size: 25px;
}
#disKale h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.diskalebaslik h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  color: white;
  margin-bottom: -180px;
}
.kitabe {
  width: 100%;
  height: 100%;
  margin: auto;
  color: white;
  padding: 50px;
  font-size: 25px;
}
#kitabeicerik {
  width: 100%;
  height: 100%;
  margin: auto;
  color: white;
  padding: 50px;
  font-size: 25px;
  margin-top: -150px;
}
#kitabeicerik h4 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}
#kitabeicerik .paragrafbir {
  margin-bottom: 100px;
}
.ickaleparagbir {
  width: 100%;
  height: 100%;
  margin: auto;
  color: white;
  padding: 50px;
  font-size: 25px;
  margin-top: -150px;
}
#ickalekitabelerbaslik h4 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  color: white;
  margin-top: -180px;
}
.ickalekitabelerparag {
  width: 100%;
  height: 100%;
  margin: auto;
  color: white;
  padding: 50px;
  font-size: 25px;
  margin-top: -330px;
}
#resim2 {
  width: 50%;
  height: 50%;
  margin: auto;
}
