html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}

section {
  padding: 100px 0;
  background: linear-gradient(to right, #203d53, #051b38);
  /*background: #4f6779;*/
}

.carousel-item img {
  /*sliderler için*/
  padding: 0 30%;
}

/*anasayfa*/

header {
  border-bottom: 1px solid rgba(238, 238, 238, 0.801);
  position: fixed;
  width: 100%;
  z-index: 5;
  font-size: 25px;
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}
.navbar-brand:hover {
  color: #000;
}
.navbar-nav {
  margin-left: auto;
}
.nav-link {
  font-size: 1.1rem;
  font-weight: bold;
  color: #000;
}
.nav-link:hover {
  color: #000;
}

.Kayseri {
  background: linear-gradient(0.25turn, #0f2e55a6, #b4c9d8, #0f2e55a6);
  font-size: 50px;
  width: 100%;
  height: 50%;
  text-align: center;
  margin-bottom: 20px;
}

.Kayseri a {
  text-decoration: none;
  color: white;
}
#slider1 .selamlama {
  margin-top: 45px;
  text-align: center;
  color: linear-gradient(to right, #203d53, #051b38);
  background: linear-gradient(0.25turn, #0f2e55a6, #b4c9d8, #0f2e55a6);
}

#tanitim {
  color: white;
  font-size: 25px;
  margin-top: -100px;
}
.tanıtımgiris {
  padding: 10px 100px 10px 100px;
}
#turizmbaslik {
  margin-top: -100px;
  margin-bottom: -100px;
}
#turizmbaslik h3 {
  background: linear-gradient(0.25turn, #0f2e55a6, #b4c9d8, #0f2e55a6);
  text-align: center;
  color: linear-gradient(to right, #203d53, #051b38);
  font-size: 50px;
}
/*-----------------------------------------*/
#gezmelik {
  display: flex;
  justify-content: space-between;
  text-align: center;
  /*background: rgb(51, 34, 1);*/
}
.muze {
  width: 50%;
  height: 30%;
  margin: auto;
  justify-content: space-between;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  /*border: 2px solid rgb(255, 255, 255);*/
}
.muze .muze1 {
  width: 45%;
  height: 40%;
  margin-bottom: 50px;
  border: 4px solid rgba(69, 241, 184, 0.712);
}
.muze .muze2 {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  border: 4px solid rgba(69, 241, 184, 0.712);
}

.muze .muze3 {
  margin-bottom: 50px;
  width: 45%;
  height: 40%;
  border: 4px solid rgba(69, 241, 184, 0.712);
}
.turizm {
  padding: 20px;
  margin-right: 50px;
  color: white;
  border: 2px solid rgb(255, 255, 255);
  font-size: 25px;
}
.muzeliste {
  text-align: left;
}
.muzeliste ul li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

#dag {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.erciyes {
  width: 50%;
  height: 30%;
  margin: auto;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 25px;
  text-align: left;
  margin-left: 50px;
  color: white;
}
.erciyes .ercbaslik h4 {
  margin-bottom: 20px;
  text-align: center;
}
.ercbaslik h4 a {
  color: white;
  font-size: 35px;
  text-decoration: none;
}
.erciyesresim img {
  margin-top: 150px;
  border: 4px solid rgba(69, 241, 184, 0.712);
  width: 60%;
  height: 50%;
}

#kentormani {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.orman {
  width: 50%;
  height: 30%;
  margin: 60px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 25px;
  text-align: left;

  color: white;
}

.ormanbaslik h4 {
  margin-bottom: 20px;
}
.ormanbaslik h4 a {
  color: white;
  font-size: 35px;
  text-decoration: none;
}
.kentormaniresim img {
  margin-top: 60px;
  margin-left: 50px;
  border: 4px solid rgba(69, 241, 184, 0.712);
  width: 150%;
}

/*================================================*/

#kapuzbasi {
  text-align: center;
}

.selale {
  width: 90%;
  height: 30%;
  margin: 60px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 25px;
  text-align: left;
  color: white;
}

.selalebaslik h4 {
  margin-bottom: 20px;
}
.selalebaslik h4 a {
  color: white;
  font-size: 35px;
  text-decoration: none;
}
.kapuzbasiresim img {
  margin-top: 60px;
  margin-right: 60px;
  border: 4px solid rgba(69, 241, 184, 0.712);
  width: 60%;
}

/*================================================*/
#sazlik {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.sultansazligi {
  width: 50%;
  height: 30%;
  margin: 60px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 25px;
  text-align: left;
  color: white;
}

.sazlikbaslik h4 {
  margin-bottom: 20px;
}
.sazlikbaslik h4 a {
  color: white;
  font-size: 35px;
  text-decoration: none;
}
.sultanSazligiresim img {
  margin-top: 160px;
  margin-left: 50px;
  border: 4px solid rgba(69, 241, 184, 0.712);
  width: 90%;
}
/*================================================*/

#vadi {
  text-align: center;
}

.koramazvadisi {
  width: 90%;
  height: 30%;
  margin: 60px;
  padding: 25px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 25px;
  text-align: left;
  color: white;
}

.vadibaslik h4 {
  margin-bottom: 20px;
}
.vadibaslik h4 a {
  color: white;
  font-size: 35px;
  text-decoration: none;
}
.koramazVadiresim img {
  border: 4px solid rgba(69, 241, 184, 0.712);
  width: 50%;
}

/*================================================*/

#sporbaslik h3 {
  text-align: center;
  background: linear-gradient(0.25turn, #0f2e55a6, #b4c9d8, #0f2e55a6);
  font-size: 50px;
  margin-bottom: -150px;
}

.sporyazi {
  margin-top: -150px;
  font-size: 25px;
  color: white;
  text-align: left;
  border: 2px solid rgb(255, 255, 255);
  padding: 25px;
  margin: 0px 150px 0px 150px;
}
.sporyazi a {
  text-decoration: none;
}
.resimler {
  width: 60%;
  height: 30%;
  margin: auto;
  justify-content: space-between;
  text-align: center;
  display: flex;
  padding: 25px;
  margin-top: 80px;
}
.resimler #stadyum {
  margin-left: 50px;
  border: 4px solid rgba(69, 241, 184, 0.712);
}
.resimler #ks {
  border: 4px solid rgba(69, 241, 184, 0.712);
}
/*================================================*/

#universitebaslik h3 {
  text-align: center;
  background: linear-gradient(0.25turn, #0f2e55a6, #b4c9d8, #0f2e55a6);
  font-size: 50px;
  margin-bottom: -150px;
}
.okullar {
  margin-top: -150px;
  font-size: 25px;
  color: white;
  text-align: left;
  border: 2px solid rgb(255, 255, 255);
  padding: 25px;
  margin: 0px 150px 0px 150px;
}
.okullar a {
  text-decoration: none;
}

/*================================================*/
@media screen and (max-width: 900px) {
  #gezmelik {
    display: block;
  }
  .muze .muze1 {
    width: 100%;
  }
  .muze .muze2 {
    width: 100%;
  }

  .muze .muze3 {
    width: 100%;
  }

  #dag {
    display: block;
  }
  .erciyes {
    max-width: 450px;
    width: 100%;
    margin-left: -1px;
  }
  .erciyesresim img {
    width: 80%;
    margin-left: -10px;
  }

  #kentormani {
    display: block;
  }
  .orman {
    max-width: 450px;
    width: 100%;
    margin-left: -1px;
  }
  .kentormaniresim img {
    width: 80%;
    margin-left: -15px;
  }
  .selale {
    display: block;
    margin-left: -1px;
  }
  .kapuzbasiresim img {
    width: 80%;
    margin-right: -15px;
  }

  #sazlik {
    display: block;
  }
  .sultansazligi {
    max-width: 450px;
    width: 100%;
    margin-left: -1px;
  }
  .sultanSazligiresim img {
    width: 80%;
    margin-left: -15px;
  }
  #vadi {
    display: block;
  }
  .koramazvadisi {
    max-width: 450px;
    width: 100%;
    margin-left: -1px;
  }
  .koramazVadiresim img {
    width: 80%;
    margin-left: -15px;
  }

  .sporyazi {
    max-width: 450px;
    width: 100%;
    margin-left: -1px;
  }
  .resimler {
    display: block;
  }
  .resimler #ks {
    width: 100%;
    margin-left: -15px;
    margin-bottom: 50px;
  }
  .resimler #stadyum {
    width: 100%;
    margin-left: -15px;
    margin-bottom: 50px;
  }
  #universitebaslik h3 {
    margin-top: -150px;
  }
  .okullar {
    margin-top: -150px;
    max-width: 450px;
    width: 100%;
    margin-left: -1px;
  }
}
