.body {
  width: 1600px;
}

.class-1 {
  text-align: center;
  background-color: aqua;
}
.class-2 {
  text-align: center;
  background-color: aqua;
  font-size: 25px;
  padding: 15px;
  margin: 15px;
}
.class-2:hover {
  font-size: 30px;
  text-align: center;
}

.class-3 {
  background-color: aqua;
  width: 1500px;
  height: 460px;
  padding: 15px;
  margin: 40px;
}
.muze {
  background-color: rgb(255, 0, 170);
  width: 900px;
  height: 420px;

  padding: 25px;
  margin-right: 20px;
  float: right;
}

#muze1 {
  margin: 10px;
}

#muze2 {
  margin: 40px;
}

.class-4 {
  background-color: aqua;
  width: 600px;
  height: 420px;
  padding: 15px;
  margin: 40px;
}

#erciyes {
  background-color: rgb(255, 0, 170);
  width: 500px;
  height: 420px;
  padding: 15px;
  margin-left: 40px;
}

.class-5 {
  background-color: aqua;
  width: 1000px;
  height: 380px;
  padding: 15px;
  margin: 15px;
  float: right;
}

#kentOrmani {
  background-color: rgb(255, 0, 170);
  width: 500px;
  height: 380px;
  padding: 15px;
  margin-right: 130px;
  margin-top: 20px;
  float: right;
}

.class-6 {
  background-color: aqua;
  width: 800px;
  height: 350px;
  padding: 15px;
  margin: 40px;
}

#kapuzbasi {
  background-color: rgb(255, 0, 170);
  width: 500px;
  height: 380px;
  padding: 15px;
  margin-left: 40px;
}

.class-7 {
  background-color: aqua;
  width: 900px;
  height: 330px;
  padding: 15px;
  margin-right: 75px;
  margin-top: 30px;
  float: right;
}

#sultanSazligi {
  background-color: rgb(255, 0, 170);
  width: 500px;
  height: 380px;
  padding: 15px;
  margin-right: 120px;
  margin-top: 20px;
  float: right;
}

.class-8 {
  background-color: aqua;
  width: 800px;
  height: 380px;
  padding: 15px;
  margin: 40px;
  margin-top: 20px;
}

#koramazVadi {
  background-color: rgb(255, 0, 170);
  width: 500px;
  height: 380px;
  padding: 15px;
  margin: 40px;
  margin-top: 20px;
}
.class-9 {
  background-color: aqua;
  width: 950px;
  height: 370px;
  padding: 15px;
  margin: 15px;
  margin-right: 50px;

  float: right;
}

.class-10 {
  background-color: aqua;
  width: 1000px;
  height: 700px;
  padding: 15px;
  margin-left: 280px;
  margin-right: 150px;
}
#ks {
  margin: 30px;
}
#stadyum {
  margin: 40px;
}
.class-11 {
  background-color: aqua;
  width: 1000px;
  height: 370px;
  padding: 15px;
  margin-top: 20px;
  margin-left: 280px;
  margin-right: 150px;
}

.class-12 {
  background-color: rgb(238, 244, 244);
}
